{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Contenu</th>
      <th scope="col">Date et Autheur</th>
    </tr>
  </thead>
  <tbody>
    {% for article in listArticles %}
        <tr>
            <td><a href="{{ path('article.show', {id : article.id}) }}">{{ article.title }}</a></td>
            <td>{{ article.content[:300] }}<a href="{{ path('article.show', {id : article.id}) }}">... voir plus</a></td>
            <td>{{ article.createdAt|date("m/d/Y") }} {{ article.author}}</td>
        </tr>
    {% endfor %}
  </tbody>
  {{ knp_pagination_render(listArticles) }}
</table>
{% endblock %}
